body {
    margin: 0;
    font-family: Arial,sans-serif;
    font-size: 0.84em;
    min-width: 723px;
    -webkit-user-select: none;
}
ul {
    padding: 0;
    margin: 0;
}
ul.menu {
    overflow: hidden;
    height: 33px;
}
ul.menu li {
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin-top: 1px;
}
ul.menu li:first-child {
    margin-left: 2px;
}
ul.menu li.separate {
    height: 24px;
    width: 3px;
    border-left: 1px solid #939393;
    margin-bottom: 2px;
    margin-left: 3px;
}
ul.menu li.graph {
    width: auto;
}
ul.menu li.select {
    width: auto;
    float: right;
    margin-right: 2px;
}
ul.menu li.select > a {
    margin-top: 2px;
    width: 110px !important;
    float: right;
    height: 24px !important;
}
ul.menu a.btn{
    width: 28px;
    height: 28px;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 3px;
    border: 1px solid #fff;
}

ul.menu a.btn:active {
    opacity: 0.7;
}
ul.menu a.refresh{
    background-image: url("/images/refresh.png");
}
ul.menu a.wui{
    background-image: url("/images/wui.png");
}
ul.menu a.start_all{
    background-image: url("/images/play_all.png");
}
ul.menu a.pause_all{
    background-image: url("/images/pause_all.png");
}
ul.menu a.add_file{
    background-image: url("/images/add.png");
}
ul.menu a.add_magnet{
    background-image: url("/images/magnet.png");
}
ul.menu a.btn:hover {
    border: 1px solid #a9acb1;
}
ul.menu a.alt_speed{
    background-image: url("/images/alt_speed.png");
}
ul.menu a.alt_speed.active{
    background-image: url("/images/alt_speed_active.png");
}
.torrent-list-layer {
    overflow: auto;
    border-top: 1px #c0c0c0 solid;
}

table thead {
    text-align: center;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.3, rgb(208,208,208)),
        color-stop(0.92, rgb(247,247,247))
        );
}
table thead th, 
table tbody td {
    padding-left: 2px;
    padding-right: 2px;
}
table thead tr th {
    border-right: 1px solid #c0c0c0;
}
table thead tr th:last-child  {
    border-right: 0px;
}
table thead th {
    font-weight: normal;
}
table tr {
    height: 18px;
    cursor: default;
}
table tbody tr:hover {
    background-color: #3875d7 !important;
    color: #fff;
}
th div {
    overflow: hidden;
    white-space: nowrap;
}
td div {
    overflow: hidden;
    white-space: nowrap;
}
div.torrent-list-layer table .name {
    text-align: left;
}
div.torrent-list-layer table .name div {
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
}
div.torrent-list-layer table .size {
    text-align: right;
}
div.torrent-list-layer table .otdano {
    text-align: right;
}
div.torrent-list-layer table .position {
    text-align: center;
}
div.torrent-list-layer table .ostalos {
    text-align: right;
}
div.torrent-list-layer table .time {
    text-align: center;
}
div.torrent-list-layer table .seeds_peers {
    text-align: center;
}
div.torrent-list-layer table .poluchino {
    text-align: right;
}
div.torrent-list-layer table .koeficient {
    text-align: center;
}
div.torrent-list-layer table .status div {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
div.fl-layer tr:nth-child(even) {
      background-color:  #f3f6fa;  
}
/*div.torrent-list-layer, div.torrent-list-layer table.torrent-table-body {
    background-position-y: 1px;
    background-image:-webkit-repeating-linear-gradient(top, #fff 0px, #fff 18px, #f3f6fa 18px, #f3f6fa 36px);
}*/
div.torrent-list-layer tr:nth-child(even) {
      background-color:  #f3f6fa;  
}
table.torrent-table-head {
    position: fixed;
    z-index: 2;
}
table.torrent-table-body thead {
    visibility: hidden;
}
table tbody tr.selected {
    background-color: #3875d7 !important;
    color: #fff;
}
table td.progress, table th.progress {
    padding: 0;
    position: relative;
    padding-right: 2px;
    overflow: hidden;
}
table td.progress div.progress_b {
    width: 100%;
    height: 14px;
    border: 1px solid #fff;
    background-color: #dbdbdb;
    border-radius: 3px;
    position: relative;
    color: #fff;
}
table td.progress div.progress_b_i {
    position: absolute;
    height: 14px;
    background-color: #3687ED;
    border-radius: 3px;
    z-index: 0;
}
table td.progress div.val {
    position: absolute;
    text-align: center;
    z-index: 1;
    line-height: 15px;
    width: 100%;
}
div.torrent-list-layer table td.controls div.btns {
    height: 18px;
    text-align: center;
}
div.torrent-list-layer table td.controls div.btns > a {
    width: 18px;
    height: 18px;
    cursor: pointer;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
}
div.torrent-list-layer table td.controls div.btns > a.start { 
    background-image: url('/images/play.png'); 
}
div.torrent-list-layer table td.controls div.btns > a.pause { 
    background-image: url('/images/pause.png'); 
}
div.torrent-list-layer table td.controls div.btns > a.stop { 
    background-image: url('/images/stop.png'); 
}
div.torrent-list-layer table td.controls div.btns > a:active {
    opacity: 0.7;
}
table.status-panel {
    border-top: 1px #c0c0c0 solid;
    padding-left: 2px;
}
table.status-panel td {
    line-height: 16px;
    padding-top: 2px;
}
table.status-panel td.status {
    width: 50%;
}
table.status-panel td.status img {
    margin-bottom: -4px;
}
table.status-panel td.speed {
    width: 25%;
    padding-left: 12px;
    background-repeat: no-repeat;
    background-position-y: 3px;
}
table.status-panel td.download {
    background-image: url(/images/icon_downloading.png);
}
table.status-panel td.upload {
    background-image: url(/images/icon_uploading.png);
}
li.context-menu-item label {
    margin-left: -10px;
}
ul.context-menu-list label {
    margin-left: -13px;
}
div.file-list-layer-temp {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
}
div.file-list-loading {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    z-index: 5;
    background-image: url('/images/loading.gif')
}
div.fl-layer {
    border-bottom: 1px #c0c0c0 solid;
    position: relative;
    overflow: auto;
}
table.fl-table-head {
    position: fixed;
    z-index: 2;
}
div.file-list {
    display: none;
    position: absolute;
    z-index: 4;
    background: #fff;
    left: 0;
    top: 34px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
table.fl-table-body thead {
    visibility: hidden;
}
div.fl-layer table.fl-table-body td.select {
    text-align: center;
}
div.fl-layer table .select input { 
    margin-top: 2.5px; 
    margin-bottom: 2.5px; 
}
div.fl-layer table .name > div {
    text-align: left; 
    text-overflow: ellipsis;
}
div.fl-layer table .size {
    text-align: right;
}
div.fl-layer table .download {
    text-align: right;
}
div.fl-layer table .priority {
    text-align: center;
}
div.fl-layer table .priority div {
    white-space: nowrap;
    text-overflow: ellipsis;
}
div.file-list ul.bottom-menu {
    margin-top: 2px;
}
div.file-list ul.bottom-menu li {
    display: inline-block;
}
div.file-list ul.bottom-menu li.btn {
    float: right;
}
div.file-list ul.bottom-menu a {
    border: 1px solid #fff;
    background-repeat: no-repeat;
    background-position: center center;
    width: 28px;
    height: 28px;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #fff;
}
div.file-list ul.bottom-menu a.update{
    background-image: url('/images/refresh.png');
}
div.file-list ul.bottom-menu a.close{
    background-image: url('/images/close.png');
    margin-right:  2px;
}
div.file-list ul.bottom-menu a:hover {
    border: 1px solid #a9acb1;
}
div.file-list ul.bottom-menu a:active {
    opacity: 0.7;
}
div.file-list ul.bottom-menu li.path {
    position: relative;
    width: 85%;
}
div.file-list ul.bottom-menu li.path input {
    font-size: 1em;
    width: 100%;
    margin-top: 5px;
    padding-left: 6px;
    border: 0;
    color: #a2a2a2;
}
div.fl-layer a.folder {
    background-color: #ebebeb;
    border-radius: 6px;
    color: #1F3744;
    margin-right: 1px;
    padding-left: 1px;
    padding-right: 1px;
    text-decoration: none;
}
div.fl-layer a.folder.c7 {
    background-color: #d0d0d0;
}
div.fl-layer a.folder.c6 {
    background-color: #ffa39f;
}
div.fl-layer a.folder.c5 {
    background-color: #e8bdeb;
}
div.fl-layer a.folder.c4 {
    background-color: #f6f79d;
}
div.fl-layer a.folder.c3 {
    background-color: #fad294;
}
div.fl-layer a.folder.c2 {
    background-color: #d1f09d;
}
div.fl-layer a.folder.c1 {
    background-color: #acd1ff;
}
table thead .headerSortDown {
    background-image: url('/images/down.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-origin: content-box;
    padding-rigth: 3px;
}
table thead .headerSortUp {
    background-image: url('/images/up.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-origin: content-box;
    padding-rigth: 3px;
}
li.context-menu-item label.context {
    background-image: url('/images/right.png');
    background-repeat: no-repeat;
    width: 11px;
    height: 11px;
    position: absolute;
    right: 3px;
    margin-top: 1px;
}
li.select div[data-image],
.selectBox-dropdown-menu div[data-image] {
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 2px;
    background-position-y: 1px;
}
li.select div[data-image=all],
.selectBox-dropdown-menu div[data-image=all] {
    width: 16px;
    height: 16px;
    margin-top: -2px;
    background-image: url('/images/c_all.png');
}
li.select div[data-image=download],
.selectBox-dropdown-menu div[data-image=download] {
    width: 16px;
    height: 16px;
    margin-top: -2px;
    background-image: url('/images/c_down.png');
}
li.select div[data-image=seeding],
.selectBox-dropdown-menu div[data-image=seeding] {
    width: 16px;
    height: 16px;
    margin-top: -2px;
    background-image: url('/images/c_uplo.png');
}
li.select div[data-image=complite],
.selectBox-dropdown-menu div[data-image=complite] {
    width: 16px;
    height: 16px;
    margin-top: -2px;
    background-image: url('/images/c_comp.png');
}
li.select div[data-image=active],
.selectBox-dropdown-menu div[data-image=active] {
    width: 16px;
    height: 16px;
    margin-top: -2px;
    background-image: url('/images/c_active.png');
}
li.select div[data-image=inacive],
.selectBox-dropdown-menu div[data-image=inacive] {
    width: 16px;
    height: 16px;
    margin-top: -2px;
    background-image: url('/images/c_iact.png');
}
.appriseOverlay {
    z-index: 3;
}
input[name="torrent_file"] {
    display: none;
}