body {
    margin: 0;
    font-family: Arial,sans-serif;
    font-size: 0.84em;
    min-width: 723px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
ul {
    padding: 0;
    margin: 0;
}
ul.menu {
    overflow: hidden;
    height: 33px;
    position: relative;
}
ul.menu li {
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin-top: 1px;
}
ul.menu li:first-child {
    margin-left: 2px;
}
ul.menu li.separate {
    height: 24px;
    width: 3px;
    border-left: 1px solid #939393;
    margin-bottom: 2px;
    margin-left: 3px;
}
ul.menu li.graph {
}
ul.menu li.select {
    width: auto;
    float: right;
    margin-right: 2px;
}
ul.menu li.select {
    width: 140px;
    position: absolute;
    right: 0;
    top: 0;
}
ul.menu li.select > * {
    width: 138px;
    max-width: 138px;
    min-width: 138px;
}
ul.menu a.btn{
    width: 28px;
    height: 28px;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 3px;
    border: 1px solid #fff;
}

ul.menu a.btn:active {
    opacity: 0.7;
}
ul.menu a.refresh{
    background-image: url("../images/refresh.svg");
    background-size: 27px;
}
ul.menu a.wui{
    background-image: url("../images/wui.png");
    background-size: 28px;
}
ul.menu a.start_all{
    background-image: url("../images/play_all.png");
    background-size: 28px;
}
ul.menu a.pause_all{
    background-image: url("../images/pause_all.png");
    background-size: 28px;
}
ul.menu a.add_file{
    background-image: url("../images/add.png");
    background-size: 28px;
}
ul.menu a.add_magnet{
    background-image: url("../images/magnet.png");
    background-size: 28px;
}
ul.menu a.alt_speed{
    background-image: url("../images/alt_speed.png");
}
ul.menu a.alt_speed.active{
    background-image: url("../images/alt_speed_active.png");
    box-shadow: inset 0 0 1px 0px #000;
}
ul.menu a.btn:hover {
    border: 1px solid #a9acb1;
}

table.status-panel td.space.disk {
    background-image: url(../images/free_space.png);
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    ul.menu a.wui{
        background-image: url("../images/wui@2x.png");
        background-size: 28px;
    }
    ul.menu a.start_all{
        background-image: url("../images/play_all@2x.png");
        background-size: 28px;
    }
    ul.menu a.pause_all{
        background-image: url("../images/pause_all@2x.png");
        background-size: 28px;
    }
    ul.menu a.add_file{
        background-image: url("../images/add@2x.png");
        background-size: 28px;
    }
    ul.menu a.add_magnet{
        background-image: url("../images/magnet@2x.png");
        background-size: 28px;
    }
    ul.menu a.alt_speed{
        background-image: url("../images/alt_speed@2x.png");
        background-size: 28px;
    }
    ul.menu a.alt_speed.active{
        background-image: url("../images/alt_speed_active@2x.png");
        background-size: 28px;
    }
    table.status-panel td.space.disk {
        background-image: url(../images/free_space@2x.png);
        background-size: 16px;
    }
}

.torrent-list-layer {
    overflow: auto;
    border-top: 1px #c0c0c0 solid;
    max-width: 800px;
}

table thead {
    text-align: center;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.3, rgb(208,208,208)),
        color-stop(0.92, rgb(247,247,247))
        );
    background-image: -o-linear-gradient(top, #D0D0D0 30%, #F7F7F7 92%);
    background-image: -moz-linear-gradient(top, #D0D0D0 30%, #F7F7F7 92%);
    background-image: -webkit-linear-gradient(top, #D0D0D0 30%, #F7F7F7 92%);
    background-image: -ms-linear-gradient(top, #D0D0D0 30%, #F7F7F7 92%);
    background-image: linear-gradient(to top, #D0D0D0 30%, #F7F7F7 92%);
}
table thead th, 
table tbody td {
    padding-left: 2px;
    padding-right: 2px;
}
table thead th:first-child {
    padding-right: 1px;
}
table thead tr th {
    border-right: 1px solid #c0c0c0;
    position: relative;
}
table thead tr th:last-child  {
    border-right: 0;
}
table thead th {
    font-weight: normal;
}
table tr {
    height: 18px;
    cursor: default;
}
table tbody tr:hover {
    background-color: #3875d7 !important;
    color: #fff;
}
th div {
    overflow: hidden;
    white-space: nowrap;
}
td div {
    overflow: hidden;
    white-space: nowrap;
}
div.torrent-list-layer table .checkbox {
    text-align: center;
}
div.torrent-list-layer table .checkbox input {
    margin: 0;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    margin-right: 1px;
}
div.torrent-list-layer table .name {
    text-align: left;
}
div.torrent-list-layer table .name div {
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
}
div.torrent-list-layer table .size {
    text-align: right;
}
div.torrent-list-layer table .upped {
    text-align: right;
}
div.torrent-list-layer table .order {
    text-align: center;
}
div.torrent-list-layer table .remaining {
    text-align: right;
}
div.torrent-list-layer table .eta {
    text-align: center;
}
div.torrent-list-layer table .seeds_peers {
    text-align: center;
}
div.torrent-list-layer table .downloaded {
    text-align: right;
}
div.torrent-list-layer table .shared {
    text-align: center;
}
div.torrent-list-layer table .status div {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
div.fl-layer tr:nth-child(even) {
    background-color:  #f3f6fa;
}
/*div.torrent-list-layer, div.torrent-list-layer table.torrent-table-body {
    background-position-y: 1px;
    background-image:-webkit-repeating-linear-gradient(top, #fff 0px, #fff 18px, #f3f6fa 18px, #f3f6fa 36px);
}*/
div.torrent-list-layer tr:nth-child(even) {
    background-color:  #f3f6fa;
}
table.torrent-table-head {
    position: fixed;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
table.torrent-table-body thead {
    visibility: hidden;
}
table tbody tr.selected {
    background-color: #3875d7 !important;
    color: #fff;
}
table td.done, table th.done {
    padding: 0;
    position: relative;
    padding-left: 2px;
    padding-right: 2px;
    overflow: hidden;
}
table td.done div.progress_b {
    width: 100%;
    height: 14px;
    border: 1px solid #fff;
    background-color: #dbdbdb;
    border-radius: 3px;
    position: relative;
    color: #fff;
    margin-left: -1px;
    text-align: center;
}
table td.done div.progress_b_i {
    position: absolute;
    height: 14px;
    background-color: #3687ED;
    border-radius: 3px;
    z-index: 0;
    top: 0;
    left: 0;
}
table td.done div.val {
    position: relative;
    z-index: 1;
    display: inline;
    line-height: -moz-block-height;
    vertical-align: top;
}
div.torrent-list-layer table td.actions div.btns {
    height: 18px;
}
div.torrent-list-layer table td.actions div.btns > a {
    width: 18px;
    height: 18px;
    cursor: pointer;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 8px;

    opacity: 0.65;
}
div.torrent-list-layer table tr:hover td.actions div.btns > a,
div.torrent-list-layer table tr.selected td.actions div.btns > a{
    opacity: 0.8;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
div.torrent-list-layer table td.actions div.btns > a.start {
    background-image: url('../images/play.svg');
}
div.torrent-list-layer table td.actions div.btns > a.pause {
    background-image: url('../images/pause.svg');
}
div.torrent-list-layer table td.actions div.btns > a.stop {
    background-image: url('../images/stop.svg');
}
div.torrent-list-layer table td.actions div.btns > a:hover {
    opacity: 1 !important;
}
div.torrent-list-layer table td.actions div.btns > a:active {
    opacity: 0.7 !important;
}
table.status-panel {
    border-top: 1px #c0c0c0 solid;
    padding-left: 2px;
}
table.status-panel td {
    line-height: 16px;
    padding-top: 2px;
}
table.status-panel td.status {
    width: 34%;
}
table.status-panel td.status div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 250px;
}
table.status-panel td.space {
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: 0 2px;
    width: 15%;
}
table.status-panel td.space div {
    text-overflow: ellipsis;
}
table.status-panel td.status img {
    margin-bottom: -4px;
}
table.status-panel td.speed {
    width: 25%;
    padding-left: 14px;
    background-repeat: no-repeat;
    background-position-y: 3px;
}
table.status-panel td.space div {
    cursor: pointer;
}
table.status-panel td.download {
    background-image: url(../images/arrowDown.svg);
    background-position: left center;
    background-size: 13px;
}
table.status-panel td.upload {
    background-image: url(../images/arrowUp.svg);
    background-position: left center;
    background-size: 13px;
}
ul.context-menu-list label {
    position: absolute;
    left: 4px;
}
ul.context-menu-list label.context {
    position: absolute;
    left: auto;
}
div.file-list-layer-temp {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
div.file-list-loading {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    z-index: 5;
    background-image: url('../images/loading.gif')
}
div.fl-layer {
    border-bottom: 1px #c0c0c0 solid;
    position: relative;
    overflow: auto;
}
table.fl-table-head {
    position: fixed;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
div.file-list {
    display: none;
    position: absolute;
    z-index: 4;
    background: #fff;
    left: 0;
    top: 34px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
table.fl-table-body thead {
    visibility: hidden;
}
div.fl-layer table.fl-table-body td.checkbox {
    text-align: center;
}
div.fl-layer table .checkbox input {
    margin: 0;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    margin-left: 1px;
}
div.fl-layer table .name > div {
    text-align: left;
    text-overflow: ellipsis;
}
div.fl-layer table .size {
    text-align: right;
}
div.fl-layer table .downloaded {
    text-align: right;
}
div.fl-layer table .prio {
    text-align: center;
}
div.fl-layer table .prio div {
    white-space: nowrap;
    text-overflow: ellipsis;
}
div.file-list ul.bottom-menu {
    margin-top: 2px;
}
div.file-list ul.bottom-menu li {
    display: inline-block;
}
div.file-list ul.bottom-menu li.btn {
    float: right;
    cursor: pointer;
}
div.file-list ul.bottom-menu a {
    border: 1px solid #fff;
    background-repeat: no-repeat;
    background-position: center center;
    width: 26px;
    height: 26px;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #fff;
}
div.file-list ul.bottom-menu a.update{
    background-image: url("../images/refresh.svg");
    background-size: 20px;
}
div.file-list ul.bottom-menu a.close{
    background-image: url('../images/close.svg');
    background-size: 20px;
    margin-right:  2px;
}
div.file-list ul.bottom-menu a:hover {
    border: 1px solid #a9acb1;
}
div.file-list ul.bottom-menu a:active {
    opacity: 0.7;
}
div.file-list ul.bottom-menu li.path {
    position: relative;
    width: calc(100% - 70px);
}
div.file-list ul.bottom-menu li.path input {
    font-size: 1em;
    width: 100%;
    margin-top: 5px;
    padding-left: 6px;
    border: 0;
    color: #a2a2a2;
}
div.fl-layer a.folder {
    background-color: #ebebeb;
    border-radius: 6px;
    color: #1F3744;
    margin-right: 1px;
    padding-left: 1px;
    padding-right: 1px;
    text-decoration: none;
}
div.fl-layer a.folder.c6 {
    background-color: #d0d0d0;
}
div.fl-layer a.folder.c5 {
    background-color: #ffa39f;
}
div.fl-layer a.folder.c4 {
    background-color: #e8bdeb;
}
div.fl-layer a.folder.c3 {
    background-color: #f6f79d;
}
div.fl-layer a.folder.c2 {
    background-color: #fad294;
}
div.fl-layer a.folder.c1 {
    background-color: #d1f09d;
}
div.fl-layer a.folder.c0 {
    background-color: #acd1ff;
}
table thead .arrow {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 27px;

    transition: transform 0.2s;
    opacity: 0.5;
}
table thead .sortDown .arrow {
    background-image: url('../images/arrow_up.svg');
    background-position-y: -5px;
}
table thead .sortUp .arrow {
    background-image: url('../images/arrow_up.svg');
    transform: rotate(180deg);
    background-position-y: -5px;
}
li.select > select.prepare {
    opacity: 0;
}
li.select > select,
li.select > .simple-select-box {
    float: right;
}

li.select div[data-image] .image,
.simple-select-box-menu div[data-image] .image {
    background-repeat: no-repeat;
}
li.select div[data-image=ALL] .image,
.simple-select-box-menu div[data-image=ALL] .image {
    background-image: url('../images/c_all.png');
}
li.select div[data-image=DL] .image,
.simple-select-box-menu div[data-image=DL] .image {
    background-image: url('../images/c_down.png');
}
li.select div[data-image=SEEDING] .image,
.simple-select-box-menu div[data-image=SEEDING] .image {
    background-image: url('../images/c_uplo.png');
}
li.select div[data-image=COMPL] .image,
.simple-select-box-menu div[data-image=COMPL] .image {
    background-image: url('../images/c_comp.png');
}
li.select div[data-image=ACTIVE] .image,
.simple-select-box-menu div[data-image=ACTIVE] .image {
    background-image: url('../images/c_active.png');
}
li.select div[data-image=INACTIVE] .image,
.simple-select-box-menu div[data-image=INACTIVE] .image {
    background-image: url('../images/c_iact.png');
}

.appriseOverlay {
    z-index: 3;
}

.nf-layer {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.nf-notifi {
    position: fixed;
    z-index: 10;
    width: 230px;
    margin-left: calc(50% - 115px);
    top: 0;
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width: 0;
    text-align: center;
}
.nf-notifi .nf-subItem {
    padding-top: 5px;
    padding-bottom: 5px;
}
.nf-notifi .nf-subItem label {
    display: block;
    color: #333;
    margin: 2px;
    text-align: left;
}
.nf-notifi .nf-subItem input,
.nf-notifi .nf-subItem select{
    width: 224px;;
    padding: 1px 1px 2px 1px;
}
.nf-notifi .nf-subItem input {
    width: 218px;
}
.nf-notifi input[type="button"],
.nf-notifi button {
    width: 87px;
}
.nf-notifi .nf-subItem input[type="button"]:first-child,
.nf-notifi .nf-subItem button:first-child {
    float: left;
}
.nf-notifi .nf-subItem input[type="button"]:last-child,
.nf-notifi .nf-subItem button:last-child {
    float: right;
}
.nf-notifi .fileName {
    word-wrap: break-word;
}
.speed .limit {
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
    color: #fff;
}
.speed .limit.dl {
    background-color: #3687ED;
}
.speed .limit.up {
    background-color: #41B541;
}
li.labels span > i {
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 5px;
    background-color: #818181;
    border-radius: 3px;
    color: #fff;
}
path.line {
    fill: none;
    stroke: red;
    stroke-width: 1.5px;
}

div.drop_layer {
    display: none;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url(../images/drag.png);
    background-repeat: no-repeat;
    background-position: center;
}
div.drop_layer.dropped {
    background-color: transparent;
}
div.btn.setup {
    display: inline-block;
    float: right;
    width: 16px;
    height: 16px;
    background-image: url(../images/settings.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin-right: 2px;
}
.resize-el {
    display: block;
    height: 100%;
    width: 6px;
    margin-right: 2px;
    cursor: col-resize;
    left: 0;
    top: 0;
    position: absolute !important;
    opacity: 0;
    z-index: 2;
}
.resize-el.last {
    left: auto;
    right: 0;
}

.openInTab {
    display: inline-block;
    width: 14px;
    height: 14px;
    opacity: 0.3;
    cursor: pointer;
    float: right;
    margin-right: 2px;

    background-image: url(../images/openInTab.svg);
    background-size: 16px;
    transition: opacity 0.2s;
}
.openInTab:hover {
    opacity: 0.6;
}